h1 {  font-size: 22;  }
h2 {  font-size: 16;  }
h3 {  font-size: 14;  }

body {
  text-indent: 25px;
  word-spacing: 2px;
  line-height: 1.2;
  text-align: left;
  color:#000000;
  font-family: "Calibri", sans-serif;
  line-height: 1.2;
  padding: 0px;
  background-color: #BDBDBD;
}

header, footer {
  margin: 0;
  padding: 10px;
  background-color: #929292;
  box-shadow: 7px 7px 10px #999;
}
article {
  font-family: "Calibri", sans-serif;
  margin: 3px;
  padding: 10px;
  background-color: #CDCDCD;
  box-shadow: 5px 5px 10px #999;
}
blockquote {
  padding: 7px;
  width: 250px;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #DCDCDC;
  box-shadow: 4px 4px 10px #999;
  font-family: "Times New Roman", sans-serif;
}
aside {
   text-decoration: none;
   padding: 7px;
   background-color: #D7D7D7;
   width: 250px;
   margin-left: auto;
   margin-right: 0;
   box-shadow: 5px 5px 10px #999;
}
.div_nav {
   float: right; 
}
.photo {
   height: 128px
}
pre {
  word-spacing: 0px;
}
pre code {
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: default;
}
.ad {
  background-color: #D99586
}
