h1, h2, h3 {
  color:black;
  font-family: "Calibri", sans-serif;
}
h1 {  font-size: 22;  }
h2 {  font-size: 16;  }
h3 {  font-size: 14;  }

body {
  background-color: #BDBDBD 
}

header, footer {
  background-color: #929292
}
article {
  background-color: #BDBDBD 
}
blockquote {
  background-color: #DCDCDC
}
